@layer reset {
  /*
   * https://raw.githubusercontent.com/mayank99/reset.css/refs/heads/main/package/index.css
   */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :where([hidden]:not([hidden="until-found"])) {
    display: none !important;
  }

  :where(html) {
    -webkit-text-size-adjust: none;
    /* color-scheme: dark light; */
    tab-size: 2;
    scrollbar-gutter: stable;
    interpolate-size: allow-keywords;
    line-height: 1.5;
  }

  :where(html:has(dialog:modal[open])) {
    overflow: clip;
  }

  /* @media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
      scroll-behavior: smooth;
    }
  } */

  :where(body) {
    line-height: inherit;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  :where(button) {
    all: unset;
  }

  :where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
  }

  :where(textarea) {
    resize: vertical;
    resize: block;
  }

  :where(button, label, select, summary, [role="button"], [role="option"]) {
    cursor: pointer;
  }

  :where(:disabled, label:has(> :disabled, + :disabled)) {
    cursor: not-allowed;
  }

  :where(a) {
    color: inherit;
    text-underline-offset: 0.2ex;
  }

  :where(ul, ol) {
    list-style: none;
  }

  :where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
  }

  :where(img, picture, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }

  :where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem);
    text-wrap: pretty;
  }

  :where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
  }

  :where(dialog, [popover]) {
    border: none;
    background: none;
    color: inherit;
    inset: unset;
    max-width: unset;
    max-height: unset;
    overflow: unset;
  }

  :where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
    display: none !important;
  }

  :where(:focus-visible) {
    outline: 3px solid CanvasText;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
  }

  :where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
  }

  :where(.visually-hidden:not(:focus-within, :active)) {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
    user-select: none !important;
  }
}

@layer theme {
  /* @media(prefers-reduced-motion: no-preference) {
    @supports (view-transition-name: none) {
      ::view-transition-group(post-image-*) {
        animation-duration: 0.3s;
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  } */
  @property --icon-arrow {
    syntax: '<url>';
    inherits: false;
    initial-value: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12.47 6.47a.75.75 0 0 1 1.06 0l5 5a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 1 1-1.06-1.06l3.72-3.72H6a.75.75 0 0 1 0-1.5h10.19l-3.72-3.72a.75.75 0 0 1 0-1.06"/></svg>');
  }

  @property --icon-angle {
    syntax: '<url>';
    inherits: false;
    initial-value: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M8 4L16 12L8 20" /></svg>');
  }

  :root {
    --max-inline-size: 860px;
    --space: clamp(1rem, 0.368rem + 3.16vw, 1.75rem);
    --content-inline-size: min(calc(100% - var(--space) * 2), var(--max-inline-size));
    --primary:   light-dark(oklch(21% 0 none), oklch(98% 0 none)); /* #191919 / #fafafa */
    --secondary: light-dark(oklch(40% 0 none), oklch(72% 0 none)); /* #484848 / #a6a6a6 */
    --bg:        light-dark(oklch(98% 0 none), oklch(21% 0 none)); /* #fafafa / #191919 */
    --fg:        light-dark(oklch(78% 0 none), oklch(46% 0 none)); /* #b9b9b9 / #595959 */
    --border:    light-dark(oklch(78% 0 none), oklch(46% 0 none)); /* #b9b9b9 / #595959 */

    ::selection {
      background-color: light-dark(oklch(21% 0 none), oklch(98% 0 none));
      color: white;
    }
  }
  body {
    background-color: var(--bg);
    color: var(--primary);
    h1 {
      font-size: 2.3em;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
  }
}

@layer layout {
  #root {
    min-block-size: 100svb;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";

    > :where(header) {
      grid-area: header;
      padding-inline: calc(env(safe-area-inset-left) + env(safe-area-inset-right));
    }
    > :where(main) {
      grid-area: main;
      padding-inline: calc(env(safe-area-inset-left) + env(safe-area-inset-right));
    }
    > :where(footer) {
      grid-area: footer;
      padding-inline: calc(env(safe-area-inset-left) + env(safe-area-inset-right));
      padding-block-end: env(safe-area-inset-bottom);
    }
  }
}