section {
  >.container {
    container-type: inline-size;
    inline-size: var(--content-inline-size);
    margin-inline: auto;
    >.link {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: .5cqi;
      inline-size: fit-content;
      padding: 1.2cqi 1.8cqi;
      border: 1px solid;
      border-radius: calc(infinity * 1px);
      text-box: trim-both;
      text-decoration: none;
      font-size: max(12px,1.9cqi);
      margin-block-start: 5cqi;

      &::after {
        display: inline-grid;
        content: "";
        justify-self: end;
        -webkit-mask-image: var(--icon-arrow);
        mask-image: var(--icon-arrow);
        block-size: .8lh;
        aspect-ratio: 1;
        background-color: currentColor;
      }
    }

    >.about.Wrapper {
      >.aboutText {
        >h1 {
          font-size: max(22px, 4cqi);
        }
        >p{
          font-size: max(14px, 2cqi);
        }
        
      }
    }

    >.posts {
      display: grid;
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: min(80%, 360px);
      gap: 2cqi;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        /* display: none; */
      }
    }
  }
}
.sec01{
  margin-block-end: 25svb;
}